<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Dinimon</title>
</head>
<body>
    <div class="screen-container-container">
        <div class="screen-container">
            {% block content %}

            {% endblock %}
        </div>
        {% if 'wild_battle' not in session %}
        <div class="controls">
            <form action="/move" method="POST">
                <input type="hidden" name="direction" value="up" />
                <input type="submit" value="Up" id="up-button" class="directional-button"/>
            </form>

            <form action="/move" method="POST">
                <input type="hidden" name="direction" value="down" />
                <input type="submit" value="Down" id="down-button" class="directional-button"/>
            </form>

            <form action="/move" method="POST">
                <input type="hidden" name="direction" value="left" />
                <input type="submit" value="Left" id="left-button" class="directional-button"/>
            </form>

            <form action="/move" method="POST">
                <input type="hidden" name="direction" value="right" />
                <input type="submit" value="Right" id="right-button" class="directional-button"/>
            </form>

            <div class="controller-container">
                <a class="controller-button" href="/open_inventory">Inventory</a>
                <a class="controller-button" href="/open_dinidex">Dinidex</a>
                <a class="controller-button" href="/open_box">Box</a>
                <a class="controller-button">Map</a>
                <a class="controller-button">Main Menu</a>
            </div>

            {% endif %}
            <br>
            <form action="/start_session" method="POST">
                <input type="submit" value="Restart">
            </form>
        </div>
    </div>
</body>
</html>