{% extends 'base.html' %}
{% block content %}


<div class="screen" style="background-image: url('https://i.pinimg.com/originals/ad/22/74/ad2274d5b993c79c9b57885e4e38e6be.jpg');">
    {% if dead_enemy != 'none' %}
    <img class="dead_enemy_image" src="{{ dead_enemy.image }}">
    <p class="dead_enemy_text">{{ dead_enemy.name }} has been murdered</p>
    <form action="/end_battle" method="POST">
        <input type="submit" value="What have I done?" class="back_home_button">
    </form>

    {% elif dead_main_dini != 'none' %}
    <img class="dead_enemy_image" src="{{ dead_main_dini.image }}">
    <p class="dead_enemy_text">{{ dead_main_dini.nickname }} has been killed</p>
    <div class="dead_dini_choices">
        <a class="dead_dini_choice" href="/resume_battle">Keep fighting!</a>
        <a class="dead_dini_choice" href="/end_battle">Run away</a>
    </div>

    {% endif %}

</div>


{% endblock %}