{% extends 'base.html' %}
{% block content %}
<div class="screen" style="background-image: url({{ area.image }});">
    {% if 'wild_battle' not in session %}
        <img class="sprite" src="https://storage.cloud.google.com/property-runner/right-still.png" alt="Sprite" style="left:{{ left }}px;top:{{ top }}px;">

        {% for event in events %}

            {% if event.event == 'dinimon_spawn' %}
                <img class="{{ event.event }}", src="{{ event.image }}" alt="spawner" style="left:{{ event.left_coord }}px; top:{{ event.top_coord }}px;position: absolute;display:none">
            {% elif event.event == 'dinimon' %}
                <img class="{{ event.event }}", src="{{ event.image }}" alt="{{ event.image }}" style="left:{{ event.left_coord }}px; top:{{ event.top_coord }}px;width:{{ event.width }}px;position: absolute;">
            {% else %}
                <img class="{{ event.event }}", src="{{ event.image }}" alt="event" style="left:{{ event.left_coord }}px; top:{{ event.top_coord }}px;">
            {% endif %}
        
        {% endfor %}
    {% endif %}


    <!-- BATTLE_PAGE -->
    {% if wild_battle != 'none' %}
        <div class="battle_page">
            <img class="enemy_dinimon" src="{{ wild_battle.image }}">
        </div>
        <p class="battle_name_title" style="top:380px;left:728px;">Wild {{ enemy_dini_dex.name }}</p>
        <div class="enemy_health_bar_container" style="position:absolute; top:427px; left:728px;">
            <div class="health_bar" style="width: {{ enemy_dini_health }}%;">
                <p class="health_bar_numbers" style="color: #0a4208;top:-17px;">{{ enemy_dini.health }} / {{ enemy_dini.max_health }}</p>
            </div>
        </div>
        <div class="energy_bar_container" style="position:absolute;top: 444px;left: 728px;width: 170px;">
            <div class="energy_bar" style="width:{{ main_dini_energy }}%;">
                <p class="health_bar_numbers" style="color: #424208;"> - / {{ enemy_dini.max_energy }}</p>
            </div>
        </div>

        {% if 'main_dini' not in session %}
        <p class="bottom_banner_title">Choose Your Dinimon</p>
            <div class="battle_bottom_banner">
                {% for dinimon in party %}
                <form action="/choose_main_dini", method="post">
                    <input type="hidden" name="dinimon" value="{{ dinimon.captured_dinimon_id }}">
                    <input class="battle_banner_button" type="submit" value="{{ dinimon.nickname }}">
                </form>
                {% endfor %}
            </div>
        {% else %}
            <img class="main_dini" src="{{ main_dini.image }}">
            {% if session['message'] != 'none' %}
            <div class="alert_attack">
                {{ message }}
            </div>
              {% endif %}
            <p class="battle_name_title" style="top:380px;left:31px;">{{ main_dini.nickname }}</p>
            <div class="main_health_bar_container">
                <div class="health_bar" style="width:{{ main_dini_health }}%;">
                    <p class="health_bar_numbers" style="color: #0a4208;top:-17px;">{{ main_dini.health }} / {{ main_dini.max_health }}</p>
                </div>
            </div>
            <div class="energy_bar_container" style="position:absolute;width: 170px;top:444px;left:30px">
                <div class="energy_bar" style="width:{{ main_dini_energy }}%;">
                    <p class="health_bar_numbers" style="color: #424208;top:-17px;">{{ main_dini.energy }} / {{ main_dini.max_energy }}</p>
                </div>
            </div>
            <div class="battle_bottom_banner" style="background-color: brown;">
                {% for move in main_dini_moves %}
                <form action="/attack_enemy" method="POST">
                    <input type="hidden" name="move" value="{{ move.move_id }}">
                    <input class="battle_banner_button" type="submit" value="{{ move.move }} ({{ move.energy_cost }}e)">
                </form>
                {% endfor %}
                <a href="/open_inventory" class="battle_banner_button">Inventory</a>
                <a href="/switch_dinimon" class="battle_banner_button">Switch Dinimon</a>
                <a href="/end_battle" class="battle_banner_button">Run Away</a>
            </div>
        {% endif %}

    {% endif %}
    <!-- END BATTLE_PAGE -->

    <p style="position:relative;left:-70px">{{ left }}, {{ top }}</p>

</div>

<!-- {% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
   {% for category, message in messages %}
   <div class="alert_{{ category }}">
    {{ message }}
  </div>
    {% endfor %}
  {% endif %}
 {% endwith %} -->

{% endblock %}
