{% extends 'base.html' %}
{% block content %}
<div class="screen" style="background-image: url({{ area.image }});">

    <img class="sprite" src="https://storage.cloud.google.com/property-runner/right-still.png" alt="Sprite" style="left:{{ left }}px;top:{{ top }}px;">
    
    {% for event in events %}
    <img class="event", src="{{ event.image }}" alt="event" style="left:{{ event.left_coord }}px; top:{{ event.top_coord }}px;">
    {% endfor %}


    <p style="position:relative;left:-70px">{{ left }}, {{ top }}</p>

</div>
{% endblock %}
