body {
    background-color: rgb(133, 133, 133);
}

.screen-container-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4px;
    position: relative;
}

.screen-container {
    display: flex;
    justify-content: center;
    width: 910px;
    height: 560px;
    border: 5px solid black;
}

.screen {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.battle_page {
    width: 100%;
    height: 100%;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d83m36e-3b58ca48-fe8a-456e-9ffc-a5a84eca6613.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDgzbTM2ZS0zYjU4Y2E0OC1mZThhLTQ1NmUtOWZmYy1hNWE4NGVjYTY2MTMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.jOpoPaOypPatcb4k7flznTP9YiwUEX2q2BKoeWUPU74');
    position: absolute;
    top: 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

.battle_bottom_banner {
    width: 100%;
    background-color: cornflowerblue;
    position: relative;
    top: 463px;
    height: 96px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.battle_banner_button {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: relative;
    background-color: aliceblue;
    padding: 3px;
    font-family:sans-serif;
    border: 2px solid black;
}

.battle_banner_button:hover {
    color: rgb(200, 1, 1);
    border: 2px solid red;
    cursor: pointer;
}

.enemy_dinimon {
    left: 689px;
    top: 15px;
    width: 160px;
    transform: scaleX(-1);
    position: absolute;
}

.main_dini {
    width: 160px;
    position: absolute;
    top: 80px;
    left: 12px;
}

.bottom_banner_title {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 436px;
    left: 343px;
    z-index: 1;
}

.enemy_health_bar_container {
    width: 170px;
    height: 10px;
    border: 2px solid black;
    position: absolute;
    top: 427px;
    left: 687px;
}

.main_health_bar_container {
    width: 170px;
    height: 10px;
    border: 2px solid black;
    position: absolute;
    top: 427px;
    left: 30px;
}

.health_bar {
    background-color: rgb(13, 223, 13);
    position: absolute;
    height: 100%;
}

.alert_attack {
    background-color: #11042e;
    position: absolute;
    padding: 10px;
    top: 367px;
    left: 204px;
    width: 493px;
    border: 2px solid yellow;
    color: white;
}

.dead_enemy_image {
    transform: rotate(90deg);
    position: absolute;
    left: 365px;
    width: 190px;
    top: 80px;
}

.dead_enemy_text {
    position: absolute;
    left: 357px;
    top: 417px;
    color: wheat;
    font-style: italic;
    font-size: 22px;
}

.back_home_button {
    position: absolute;
    left: 389px;
    top: 500px;
}

.dead_dini_choices {
    display: flex;
    position: absolute;
    left: 335px;
    top: 498px;
    width: 253px;
    justify-content: space-around;
}

.dead_dini_choice {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 3px;
    width: 105px;
    text-align: center;
    border: 2px solid black;
}

.dead_dini_choice:hover {
    text-decoration: none;
    background-color: white;
    color: red;
    padding: 3px;
    width: 105px;
    text-align: center;
    border: 2px solid red;
}

.controls {
    display: flex;
    flex-direction: column;
}

#up-button {
    left: 45px;
    position: relative;
}

#down-button {
    position: relative;
    top: 24px;
    left: 36px;
}

#left-button {
    position: relative;
    left: 8px;
    top: -21px;
}

#right-button {
    position: relative;
    right: -78px;
    top: -43px;
}

.directional-button {
    background-color: aliceblue;
}

.directional-button:hover {
    border: 2px solid blue;
    cursor: pointer;
}

.sprite {
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 3;
}

.event {
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 6;
}

.right_exit {
    width: 70px;
    height: 70px;
    position: relative;   
}

.left_exit {
    width: 70px;
    height: 70px;
    position: relative;   
}

.top_exit {
    width: 70px;
    height: 70px;
    position: relative;   
}

.bottom_exit {
    width: 70px;
    height: 70px;
    position: relative;   
}


/* INVENTORY */
.inventory_back_button {
    text-decoration: none;
    background-color: aliceblue;
    padding: 3px;
    border: 2px solid black;
    position: absolute;
}

.all_inventory_items_container {
    position: absolute;
    top: 43px;
    left: 23px;
    width: 100%;
}

.inventory_item_container {
    display: flex;
    flex-direction: row;
    width: 226px;
    align-items: center;
    justify-content: space-around;
}

.inventory_item_image {
    width: 66px;
}

.inventory_item_image:hover {
    width: 66px;
    cursor: pointer;
}

.inventory_item_title {
    font-size: 15px;
}


/* CATCH */
.catch_marker_container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 360px;
    width: 200px;
}

.catch_hollow {
    padding: 25px;
    border: 2px solid black;
    border-radius: 100%;
    background-color: transparent;
}

.catch_green {
    padding: 25px;
    border: 2px solid black;
    border-radius: 100%;
    background-color: green;   
}

.springsnap {
    width: 130px;
    position: absolute;
    left: 388px;
    top: 248px;
    z-index: 2;
}

.catch_btn {
    padding: 27px;
    border: 2px solid black;
    border-radius: 100%;
    position: absolute;
    left: 408px;
    top: 476px;
    background-color: green;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.catch_btn:hover {
    background-color: rgb(15, 156, 15);
}

.catch_star {
    position: absolute;
    z-index: 1;
    width: 255px;
    left: 333px;
    top: 183px;
}

.register_form_title {
    position: absolute;
    left: 546px;
    top: 233px;
    font-size: 20px;
}

.register_dinion_form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 300px;
    left: 570px;
}

.new_dinimon_message {
    color: gold;
    font-weight: bolder;
    font-style: italic;
    font-size: 40px;
    position: absolute;
    top: -19px;
    left: 98px;
}