body {
    background-color: rgb(133, 133, 133);
}

.screen-container-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4px;
    position: relative;
}

.screen-container {
    display: flex;
    justify-content: center;
    width: 910px;
    height: 560px;
    border: 5px solid black;
}

.screen {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.battle_page {
    width: 100%;
    height: 100%;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d83m36e-3b58ca48-fe8a-456e-9ffc-a5a84eca6613.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDgzbTM2ZS0zYjU4Y2E0OC1mZThhLTQ1NmUtOWZmYy1hNWE4NGVjYTY2MTMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.jOpoPaOypPatcb4k7flznTP9YiwUEX2q2BKoeWUPU74');
    position: absolute;
    top: 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

.battle_bottom_banner {
    width: 100%;
    background-color: cornflowerblue;
    position: relative;
    top: 463px;
    height: 96px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choose_party_member_button {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: relative;
}

.choose_party_member_button:hover {
    color: rgb(1, 107, 200);
    cursor: pointer;
}

.enemy_dinimon {
    left: 689px;
    top: 15px;
    width: 160px;
    transform: scaleX(-1);
    position: absolute;
}

.main_dini {
    width: 160px;
    position: absolute;
    top: 80px;
    left: 12px;
}

.bottom_banner_title {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 436px;
    left: 343px;
    z-index: 1;
}

.enemy_health_bar_container {
    width: 170px;
    height: 10px;
    border: 2px solid black;
    position: absolute;
    top: 427px;
    left: 687px;
}

.main_health_bar_container {
    width: 170px;
    height: 10px;
    border: 2px solid black;
    position: absolute;
    top: 427px;
    left: 30px;
}

.health_bar {
    background-color: rgb(13, 223, 13);
    position: absolute;
    height: 100%;
}

.alert_attack {
    background-color: #11042e;
    position: absolute;
    padding: 10px;
    top: 367px;
    left: 204px;
    width: 493px;
    border: 2px solid yellow;
    color: white;
}

.dead_enemy_image {
    transform: rotate(90deg);
    position: absolute;
    left: 365px;
    width: 190px;
    top: 35px;
}

.dead_enemy_text {
    position: absolute;
    left: 383px;
    top: 296px;
}

.back_home_button {
    position: absolute;
    left: 389px;
    top: 358px;
}

.controls {
    display: flex;
    flex-direction: column;
}

#up-button {
    left: 45px;
    position: relative;
}

#down-button {
    position: relative;
    top: 24px;
    left: 36px;
}

#left-button {
    position: relative;
    left: 8px;
    top: -21px;
}

#right-button {
    position: relative;
    right: -78px;
    top: -43px;
}

.directional-button {
    background-color: aliceblue;
}

.directional-button:hover {
    border: 2px solid blue;
    cursor: pointer;
}

.sprite {
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 3;
}

.event {
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 6;
}

.right_exit {
    width: 70px;
    height: 70px;
    position: relative;   
}

.left_exit {
    width: 70px;
    height: 70px;
    position: relative;   
}

.top_exit {
    width: 70px;
    height: 70px;
    position: relative;   
}

.bottom_exit {
    width: 70px;
    height: 70px;
    position: relative;   
}